@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

p {
  margin: 0;
}

.btn {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  border: none;
  background: #3374F5;
  border-radius: 3px;
  padding: 15px 20px;
  color: #fff;
}

.section__title {
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 140%;
}

.circle {
  margin: 0 auto;
  border-radius: 100%;
  position: relative;
}
.circle::after {
  content: "";
  display: block;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.main {
  background: url("../img/bg/main.png") center/cover no-repeat;
  background-clip: border-box;
  min-height: 800px;
  color: #FFFFFF;
  padding: 260px 0 200px;
}
.main .container {
  display: flex;
  align-items: flex-end;
}
.main__title {
  font-family: Montserrat;
  font-weight: 900;
  font-size: 45px;
  line-height: 120%;
  max-width: 592px;
  margin-bottom: 22px;
}
.main__subtitle {
  max-width: 472px;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 71px;
}
.main__slider {
  width: 636px;
  height: 225px;
  background: #000;
}

.features {
  color: #252525;
}
.features .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.features__item {
  width: 57%;
}
.features__item:nth-child(3) {
  order: 4;
}
.features__item:nth-child(even) {
  width: 40%;
}
.features__title {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  margin-bottom: 18px;
}
.features__discription {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 150%;
  max-width: 440px;
}
.features__text--transparent {
  font-family: Montserrat;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 190px;
}

.delivery {
  padding-top: 148px;
  background: url("../img/bg/services_bg.png") no-repeat;
  background-size: cover;
}
.delivery__title {
  color: #fff;
}
.delivery__list {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  transform: translateY(118px);
}
.delivery__circle {
  width: 218px;
  height: 218px;
  background: rgba(51, 116, 245, 0.3);
  margin-bottom: 40px;
}
.delivery__circle::after {
  height: 164px;
  width: 164px;
  background: #3374F5;
}
.delivery__item {
  max-width: 392px;
  border-radius: 4px;
  padding: 25px;
  flex: 1;
  background: #fff;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}
.delivery__item + .delivery__item {
  margin-left: 12px;
}
.delivery__item_img {
  position: relative;
  z-index: 2;
}
.removal .delivery__item_img {
  transform: translate(-21px, 25px);
}
.cargo .delivery__item_img {
  transform: translate(-40px, -40px);
}
.delivery__item_title {
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  margin-bottom: 10px;
}
.delivery__item_discription {
  font-size: 14px;
  line-height: 150%;
  margin-bottom: 40px;
}
.delivery__item_btn {
  width: 100%;
}

.services {
  padding: 218px 120px 0;
}
.services__title {
  margin-bottom: 29px;
}

.tabs__caption {
  display: flex;
  list-style-type: none;
  align-items: flex-start;
  margin-bottom: 34px;
}
.tabs__caption li {
  cursor: pointer;
  padding: 15px 31px;
  border-bottom: 1px solid rgba(37, 37, 37, 0.15);
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
}
.tabs__caption li:hover, .tabs__caption li.active {
  border-bottom: 1px solid #3374F5;
  color: #3374F5;
}
.tabs__discription li {
  color: #3374F5;
}
.tabs__discription li span {
  color: #252525;
}
.tabs__item {
  display: none;
}
.tabs__item.active {
  display: flex;
}
.tabs__item > * {
  width: 50%;
}
.tabs__circle {
  width: 268px;
  height: 268px;
  background: rgba(193, 193, 193, 0.3);
}
.tabs__circle::after {
  width: 202px;
  height: 202px;
  background: #c1c1c1;
}
.tabs__img {
  position: relative;
  z-index: 2;
}
.tabs__title {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
}

/*# sourceMappingURL=style.css.map */
